* {
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    min-height: 100vh;
    background: #402E7A;
}

body,
#main-container,
.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-container {
    border: 1px solid black;
    border-radius: 4%;
    background: #1a90b4cb;
    padding-inline: 2rem;
    padding-block: 1rem;
}

#timer-and-result-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.timer-container,
.result-container {
    align-self: center;
    text-align: center;

    padding-block: 2rem;
    padding-inline: 4rem;
    margin: 1rem;

    border-radius: 5px;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.879);
}


.timer-container #timer-display {
    color: rgb(224, 22, 52);
    font-size: 1.5rem;
    width: 8rem;
}

.timer-container #timer-display-header {
    font-size: 1.6rem;
}
.result-container {
    background: rgba(151, 151, 235, 0.6);
    width: 16rem;
    max-height: 28rem;
}

.result-container h2 {
    color: rgb(41, 39, 39);
}
.result-container span {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(186, 32, 55);
}
 
#website-header{
    text-align: center;
}

.text-display {
    margin-top: 1rem;
    padding-left: 2rem;
    
    width: 32rem;
    height: 4rem;
    scroll-behavior: smooth;
    outline: none;

    background: rgb(246, 240, 240);
}

.input-wrapper p {
    text-decoration: underline 1px;
    text-underline-offset: 8px;
}

.input-wrapper #userInput {
    position: absolute;
    opacity: 0;
    z-index: -999;
}


/* Timer and result section */
.timer-container {
    background-color: none;
}
.text-display p {
    white-space: nowrap;
    overflow-x: auto;
}

.text-display span {
    color: #140e55;
    font-weight: bold;
}


.text-display p::-webkit-scrollbar {
    opacity: 0;
}

.text-display span.correctInput {
    color: green;

}

.text-display span.incorrectInput {
    color: rgb(186, 32, 55);
}

.timer-container {
    background: rgb(207, 204, 204);
}
#btn-restart {
    padding: 0.8rem;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: white;

    
    border-radius: 2rem;
    border: none;
    outline: none;

    cursor: pointer;
}

#btn-restart:active {
    background-color: rgba(255, 255, 255, 0.822);
    border: 1px solid rgba(0, 0, 0, 0.812);
}

.result-container span {
    display: inline-block
}